# Ambiente virtual
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de ambiente
.env
.env.*

# Arquivos do Docker
Dockerfile
.dockerignore

# Outros arquivos/diretórios
*.log
.pytest_cache/
.coverage
htmlcov/
.DS_Store